
.title-link, .title-link:visited, .nav-link, .nav-link:visited, .link-light{
    color:inherit;
    text-decoration:none;
}

.title-link:hover, .nav-link:hover, .link-light:hover{
    text-decoration:underline;
}

.title-link:active, .nav-link:active, .link-light:active{
    color:#aaa;
}

.nav-item{
    font-weight: 650;
}

.nested-menu {
    list-style: none;
    font-weight: 350;
}

.hero-section{
    display: flex;             
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-centered{
    display: flex;             
    flex-direction: column;    
    justify-content: center;
    align-items: left;
    text-align: left;
}

main {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    color: white;

}

main::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(3px) brightness(0.7);
    transform: scale(1.05);
    z-index: 0;
}

main > * {
    position: relative;
    z-index: 1;
    max-width: 1800px;
    padding: 0 100px;
}

.page-title{
    padding-bottom: 1vh;
}

h4{
    padding-bottom: 10px;
}

.tool-image, .source-image{
    width: 100px;
    height:auto;
}

.device-image{
    width: 200px;
    height: auto;
    margin: 20px auto;
}

.comparison-table{
    width: 1600px;
    border-collapse: collapse;
    margin-left: 6rem;
}

.comparison-table th, .comparison-table td{
    border:1px solid white;
    padding: 4px;
    text-align: left;
}